@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --black-color: #191a23;
  --green-color: #b9ff66;
  --white-color: #f3f3f3;
  --black-bg-color: #191a23;
  --green-bg-color: #b9ff66;
  --white-bg-color: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

/* utility classes */

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

/* header styling */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header .logo svg {
  width: 50%;
}

.header .nav-links {
  display: flex;
  align-items: center;
  column-gap: 2.4rem;
}

.nav-links a {
  color: var(--black-color);
}

.nav-links a.btn {
  padding: 0.8rem 1.4rem;
  border: 2px solid var(--black-color);
  border-radius: 0.8rem;
}

/* hamburger menu */

#hamburger-checkbox {
  display: none;
}

#hamburger-checkbox ~ label {
  display: none;
  cursor: pointer;
}

#hamburger-checkbox ~ label > i {
  font-size: 1.5rem;
}

.nav-links label {
  display: none;
}

.nav-links i {
  position: fixed;
  top: 8px;
  left: 6px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* hero section */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5rem;
  margin: 5rem auto;
}

.hero-section-mobile {
  display: none;
  flex-direction: column;
  row-gap: 2rem;
  margin: 5rem auto;
}

.hero-section-mobile h1 {
  text-align: center;
}

.hero-section-mobile svg {
  width: 80%;
  margin: 0 auto;
}

.hero-section-mobile p {
  opacity: 0.85;
  line-height: 2.6rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: justify;
}

.hero-section-mobile a {
  display: block;
  background-color: var(--black-bg-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.hero-section .hero-section-left,
.hero-section .hero-section-right {
  width: 50%;
}

.hero-section-left h1,
.hero-section-mobile h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-section-left p {
  font-size: 1.2rem;
  opacity: 0.85;
  line-height: 1.8rem;
  margin-bottom: 2.5rem;
}

.hero-section-left a {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--black-bg-color);
  color: var(--white-color);
}

/* company logo section */

.company-logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 1rem;
  margin-bottom: 9rem;
}

/* services section */

.services-section {
  margin-bottom: 5rem;
}

.services-content,
.working-process-text,
.contact-section-text {
  display: flex;
  align-items: center;
  column-gap: 4rem;
  margin-bottom: 4rem;
}

.services-content h2,
.working-process-text h2,
.contact-section-text h2 {
  font-size: 2rem;
  background-color: var(--green-bg-color);
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
}

.services-content p,
.working-process-text p,
.contact-section-text p {
  width: 50%;
  opacity: 0.85;
}

.services-card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.services-card-section .card {
  display: flex;
  width: 50%;
  padding: 2rem;
  border: 4px solid black;
  border-radius: 2rem;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-content .card-content-text span {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.2rem 0.3rem;
  border-radius: 0.4rem;
}

.card1 {
  background-color: var(--white-bg-color);
}

.card2 {
  background-color: var(--green-bg-color);
}

.card1 .card-content .card-content-text span {
  background-color: var(--green-bg-color);
}

.card2 .card-content .card-content-text span {
  background-color: var(--white-bg-color);
}

.card-icon-section {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.card-icon-section p {
  opacity: 0.85;
  font-size: 1.2rem;
  font-weight: 600;
}

/* working process section */

.working-process-carousel-section {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin-bottom: 5rem;
}

.carousel {
  width: 100%;
  background-color: var(--white-bg-color);
  padding: 2rem 4rem;
  border: 4px solid black;
  border-radius: 2rem;
}

.visible-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visible-text {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-weight: 600;
}

.visible-text span:first-child {
  font-size: 3rem;
}

.visible-text span:last-child {
  font-size: 1.5rem;
}

#carousel-section1,
#carousel-section2,
#carousel-section3,
#carousel-section4,
#carousel-section5,
#carousel-section6 {
  display: none;
}

.visible-icon .icon-main {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  cursor: pointer;
}

.icon-main div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

.icon-main .vertical-line {
  height: 25px;
  width: 3px;
}

.icon-main .horizontal-line {
  height: 3px;
  width: 25px;
}

.hidden-content {
  max-height: 0px;
  max-width: 0px;
  border-top: 2px solid black;
  overflow: hidden;
  transition: all 0.4s ease;
}

.hidden-content p {
  opacity: 0.85;
  font-weight: 600;
}

#carousel-section1:checked ~ .carousel1 > .hidden-content,
#carousel-section2:checked ~ .carousel2 > .hidden-content,
#carousel-section3:checked ~ .carousel3 > .hidden-content,
#carousel-section4:checked ~ .carousel4 > .hidden-content,
#carousel-section5:checked ~ .carousel5 > .hidden-content,
#carousel-section6:checked ~ .carousel6 > .hidden-content {
  max-height: fit-content;
  max-width: fit-content;
  padding-top: 1rem;
  margin-top: 2rem;
}

#carousel-section1:checked ~ .carousel1,
#carousel-section2:checked ~ .carousel2,
#carousel-section3:checked ~ .carousel3,
#carousel-section4:checked ~ .carousel4,
#carousel-section5:checked ~ .carousel5,
#carousel-section6:checked ~ .carousel6 {
  background-color: var(--green-bg-color);
}

#carousel-section1:checked
  ~ .carousel1
  > .visible-content
  > .visible-icon
  > label
  > .icon-main
  > .vertical-line,
#carousel-section2:checked
  ~ .carousel2
  > .visible-content
  > .visible-icon
  > label
  > .icon-main
  > .vertical-line,
#carousel-section3:checked
  ~ .carousel3
  > .visible-content
  > .visible-icon
  > label
  > .icon-main
  > .vertical-line,
#carousel-section4:checked
  ~ .carousel4
  > .visible-content
  > .visible-icon
  > label
  > .icon-main
  > .vertical-line,
#carousel-section5:checked
  ~ .carousel5
  > .visible-content
  > .visible-icon
  > label
  > .icon-main
  > .vertical-line,
#carousel-section6:checked
  ~ .carousel6
  > .visible-content
  > .visible-icon
  > label
  > .icon-main
  > .vertical-line {
  opacity: 0;
}

/* contact section */

.contact-section-form {
  background-color: var(--white-bg-color);
  padding: 4rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  overflow: hidden;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.contact-form > div {
  width: 50%;
}

.radio-button-section label {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.radio-button-section input {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  margin-right: 0.5rem;
  accent-color: var(--green-color);
}

.contact-form .contact-form-fields form {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.contact-form-fields form label {
  font-weight: 600;
  opacity: 0.85;
  margin-bottom: 0.2rem;
  display: inline-block;
}

.contact-form-fields form input,
.contact-form-fields form textarea,
.contact-form-fields form button {
  width: 100%;
  padding: 1rem 1.2rem;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;
  outline: none;
}

.contact-form-fields form button {
  background-color: var(--black-bg-color);
  color: var(--white-color);
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.contact-form-image img {
  position: absolute;
  right: -32%;
  width: 55%;
}

@media (max-width: 1086px) {
  html {
    font-size: 14px;
  }
  .nav-links {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #baff66af;
    backdrop-filter: blur(3px);
    border: 2px solid var(--black-color);
    transition: right 0.3s ease;
  }

  .nav-links a {
    font-weight: 600;
  }

  .nav-links a.btn {
    background-color: var(--black-bg-color);
    color: var(--white-color);
  }

  #hamburger-checkbox ~ label {
    display: block;
  }

  #hamburger-checkbox ~ label > i {
    font-size: 2rem;
  }

  .nav-links label {
    display: block;
  }

  #hamburger-checkbox:checked ~ .nav-links {
    right: 0;
  }

  .hero-section {
    column-gap: 3rem;
  }

  .hero-section .hero-section-right {
    width: 40%;
  }
  .hero-section-left h1 {
    font-size: 2.5rem;
  }

  .company-logo-section {
    margin-bottom: 3rem;
  }

  .services-content,
  .working-process-text,
  .contact-section-text {
    flex-direction: column;
  }

  .services-content h2,
  .working-process-text h2,
  .contact-section-text h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .services-content p,
  .working-process-text p,
  .contact-section-text p {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
  }

  .services-card-section {
    flex-direction: column-reverse;
    row-gap: 3rem;
  }

  .services-card-section .card {
    width: 80%;
    justify-content: space-between;
  }

  .contact-form > div {
    width: 100%;
  }

  .contact-form-image {
    display: none;
  }
}

@media (max-width: 655px) {
  .container {
    width: 90%;
  }

  #hamburger-checkbox ~ label > i {
    font-size: 2rem;
  }

  .nav-links a {
    font-size: 1.5rem;
  }

  .nav-links i {
    font-size: 2rem;
  }

  .hero-section {
    display: none;
  }

  .hero-section-mobile {
    display: flex;
  }

  .services-card-section .card {
    width: 100%;
    padding: 1.5rem;
  }

  .card .card-content .card-content-text span {
    font-size: 1.2rem;
  }

  .card .card-image img {
    width: 150px;
  }

  .card-icon-section span {
    font-size: 0.8rem;
  }

  .carousel {
    padding: 1rem 2rem;
  }

  .visible-text span:first-child {
    font-size: 1.2rem;
  }

  .visible-text span:last-child {
    font-size: 1.2rem;
  }

  .visible-icon .icon-main {
    height: 40px;
    width: 40px;
  }

  .icon-main .vertical-line {
    height: 15px;
  }

  .icon-main .horizontal-line {
    width: 15px;
  }

  .contact-section-form {
    padding: 2rem;
  }

  .radio-button-section {
    text-align: center;
  }
}
