* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px 0;
    background-color: black;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 2px solid royalblue;
    margin: 0 6px;
}

nav a:hover {
    color: cyan;
}